.user-card {
  border-radius: 5px;
  display: flex;
  max-height: 200px;
  margin: 10px auto;
  padding: 1rem;
  width: 90%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
  text-align: center;
}
.user-card h2 {
  font-size: 20px;
  font-weight: bold;
}
.user-car p {
  width: 100px;
}
.active-user-list {
  /* border: 1px solid black; */
}
.user-list {
  display: flex;
  flex-direction: column;
}
.user-header {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.user-img {
  justify-content: space-between;
  width: 50%;
}
.user-img img {
  height: 50px;
  width: 50px;
}
.user-controls p {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: rgb(196, 196, 196);
}
.user-controls p:hover {
  color: crimson;
}
.user-delete {
  margin-bottom: 15px;
}
.user-edit {
  transform: scale(-1, 1);
}
