.add-card-form-wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto 40px auto;
    padding: 40px 0 0 0;
    background: rgba(91, 179, 176, .1);
    border-radius: 3px;
}
.add-card-form-header {
    width: 80%;
    margin: 0 auto;
}
.add-card-form-header h1 {
    font-size: 46px;
    font-weight: bold;
    color: #5BB3B0;
    text-shadow: .5px .5px #21827F;
    margin-bottom: 20px;
}
.add-card-form-header p {
    margin-bottom: 45px;
    font-size: 18px;
}
.add-card-form-content form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.first-name, .phone {
    margin-bottom: 10px;
}
.add-card-form-content form span {
    margin-bottom: 40px;
    color: gray;
}
.add-card-form-content .btn {
    margin-bottom: 0;
}
.add-card-form-content form p {
    margin-bottom: 10px;
    font-size: 18px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 40px;
    padding: 10px;
    width: 20%;
    text-align: center;
    color: gray;
    border-radius: 3px;
    background-color: #5BB3B0;
    color: white;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #21827F;
    color: white;
}

.add-card-form-wrapper .hide-form-arrow {
    width: 100%;
    margin-top: 30px;
    background: rgba(91, 179, 176, .5);
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 20px;
    border-radius: 0 0 3px 3px;
}
.add-card-form-wrapper .hide-form-arrow:hover {
    background: #5BB3B0;
    cursor: pointer;
}