.home-page-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../img/home-background.jpg);
    background-size: 100%;
    background-position-y: -170px;
    background-repeat: no-repeat;
}

.home-page-wrapper .home-content {
    width: 100%;
    max-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.top-wrapper {
    width: 100%;
    align-self: center;
    justify-content: flex-start;
    display: flex;
}
.top-wrapper .logo-wrapper {
    width: 10%;
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: -20px;
    background-position-y: 10px;
    z-index: 2;
}
.home-page-motto {
    width: 40%;
    margin: 0 30% 0 20%;
    padding: 40px 20px 20px 20px;
    text-align: center;
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color:#21263a;
    text-shadow: 1px 1px rgba(59, 68, 102, .2);
    z-index: 2;
}
.home-links-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.login-link-wrapper {
    margin-top: 20px;
}
.btn {
    padding: 10px 15px;
    align-self: center;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: #3b4466;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    background: #21263a;
}
.signun-link-wrapper {
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    background: rgba(59, 68, 102, .1);
    font-size: 14px;
    color: #21263a;
}
.signup-text {
    margin-right: 1%;
}
.signun-link-wrapper a {
    text-decoration: none;
    color: #21263a;
    font-weight: bold;
}
.signun-link-wrapper a:hover {
    text-decoration: underline;
}