.login-page-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../img/home-background.jpg);
    background-size: 100%;
    background-position-y: -170px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-page-content {
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
    background: rgba(211, 211, 211, .8);
}
.login-page-content .logo-wrapper {
    width: 60%;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-page-content form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input {
    margin-bottom: 40px;
    padding: 10px;
    background: transparent;
    font-size: 18px;
    border: 1.5px white dashed;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}
form input:focus {
    outline: none;
    background: rgba(210, 229, 255, .5);
    border: 1px dotted transparent;
    transform: scale(1.1);
}
form .btn {
    width: 20%;
    padding: 10px 15px;
    align-self: center;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: #3b4466;
    color: white;
    margin-bottom: 40px;
}
form .btn:focus {
    outline: none;
}
form .btn:hover {
    background: #21263a;
}
form .btn.not-active {
    background: lightgray;
}
form .btn.not-active:hover {
    cursor: default;
}
form .btn.not-active:focus {
    cursor: default;
    outline: none;
}
.login-other-options {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 14px;
    color: #21263a;
}
.login-other-options a {
    text-decoration: none;
    color: #21263a;
}
.login-other-options a:hover {
    text-decoration: underline;
}
.separator {
    margin: 0 20px;
}
