.navigation {
    padding: 10px 5%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: #5BB3B0;
}
.nav-logo-wrapper {
    width: 7%;
}
.nav-logo {
    width: 40%;
}
.nav-options {
    display: flex;
    width: 85%;
    justify-content: flex-end;
    align-items: center; 
}
.nav-options a {
    margin-right: 2%;
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
}
.nav-options a:hover {
    transform: scale(1.2);
}
.nav-options .active {
    border: 1px solid white;
    border-radius: 3px;
}
.nav-options .link-nav-logout, .nav-options .link-nav-user {
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
}
.nav-options .nav-logout {
    width: 86%;
    padding: 7% 6% 5% 6%;
    border-radius: 3px;
}
.nav-options .nav-user {
    width: 100%;
    border-radius: 3px;
}