.user-profile-wrapper {
    width: 100%;
}
.user-profile-wrapper .navigation {
    margin-bottom: 25px;
}
.add-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-profile-wrapper .add-card-icon {
    width: 7%;
    margin-bottom: 25px;
}
@media (max-width:750px) {
    .user-profile-wrapper .add-card-icon {
        width: 12%;
    }
}
@media (max-width:500px) {
    .user-profile-wrapper .add-card-icon {
        width: 15%;
    }
}

